<div>
    <h2 id="page-heading">
        <span jhiTranslate="gronazonApp.order.home.title">Orders</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order" [routerLink]="['/order/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gronazonApp.order.home.createLabel">
            Create a new Order
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="orders?.length === 0">
        <span jhiTranslate="gronazonApp.order.home.notFound">No orders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="orders && orders.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="gronazonApp.order.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateAdded"><span jhiTranslate="gronazonApp.order.dateAdded">Date Added</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateModified"><span jhiTranslate="gronazonApp.order.dateModified">Date Modified</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="customerEmail"><span jhiTranslate="gronazonApp.order.customer">Customer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productTitle"><span jhiTranslate="gronazonApp.order.product">Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let order of orders ;trackBy: trackId">
                    <td><a [routerLink]="['/order', order.id, 'view']">{{ order.id }}</a></td>
                    <td jhiTranslate="{{ 'gronazonApp.OrderStatus.' + order.status }}">{{ order.status }}</td>
                    <td>{{ order.dateAdded | date:'medium' }}</td>
                    <td>{{ order.dateModified | date:'medium' }}</td>
                    <td>
                        <div *ngIf="order.customerId">
                            <a [routerLink]="['/customer', order.customerId , 'view']" >{{ order.customerEmail }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="order.productId">
                            <a [routerLink]="['/product', order.productId , 'view']" >{{ order.productTitle }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/order', order.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/order', order.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(order)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
